@import "../../App.scss";

.filmInfo {
  margin: 10px 0;
  padding: 10px 15px;
  display: flex;

  border-radius: 15px;
  background-color: $grayFA;
}

.Link {
  padding: 5px 10px;

  border-radius: 5px;
  background-color: $blue;
  color: $white;
}

.Link:hover,
.Link:focus {
  background-color: $blueDark;
}

.detailsWrap {
  padding: 0 0 0 10px;
}

.span {
  display: block;
}
