@import "../../App.scss";

.empty {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: $grayFA;
}

.img {
  width: 350px;
  height: 350px;
}

.wrap {
  padding: 10px;
  padding-right: 100px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
