@import "../../App.scss";

.search {
  margin: 10px 0;
  width: 100%;
  padding: 10px 15px;

  border: 1px solid $grayE6;
  border-radius: 15px;
}

.form {
  display: flex;
  justify-content: flex-end;
}

.wrap {
  display: flex;
}

.input {
  padding: 5px;

  border: 1px solid $grayE6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn {
  min-height: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $blue;
}

.btn:hover,
.btn:focus {
  background-color: $blueDark;
}

.valid {
  font-size: 14px;
  display: block;
  color: $red;
}
