@import "../../../App.scss";

.navItem:not(:first-child) {
  margin-left: 10px;
}

.navLink {
  padding: 5px 10px;

  border: none;
  border-radius: 5px;
  color: $white;
  background-color: $gray7D;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $gray66;
  }
}
